body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7; /* Couleur de fond de la page */
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .square {
    width: 400px;
    height: 400px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 10px; /* Coins arrondis */
    transition: background-color 0.3s ease; /* Transition fluide pour le changement de couleur au survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
  }
  
  .square:nth-child(1) {
    background-color: #3498db; /* Couleur de fond du premier carré */
  }
  
  .square:nth-child(2) {
    background-color: #2ecc71; /* Couleur de fond du deuxième carré */
  }
  
  .square:nth-child(3) {
    background-color: #e74c3c; /* Couleur de fond du troisième carré */
  }
  
  .square:hover {
    opacity: 0.7; /* Opacité au survol */
  }
  
  .square span {
    font-size: 24px;
  }
  
  .square::before {
    content: ''; /* Pseudo-élément pour créer un effet de surbrillance */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2); /* Couleur de surbrillance */
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Évite que le pseudo-élément ne soit cliquable */
  }
  
  .square:hover::before {
    opacity: 1;
  }
  
  .container a {
    text-decoration: none;
  }