body {
    font-family: Arial, sans-serif;
}

.language-selector {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#langBtn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#langMenu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    border-radius: 5px;
    bottom: 100%; /* Place le menu au-dessus du bouton */
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
